# Byte-compiled / optimized
__pycache__/

# Distribution / packaging
venv
tg_bot/tests/.pytest_cache
.env
tg_bot/logs_tg_bot.log
tg_bot/__init__.py
logs_bot/logs_tg_bot.log
logs_tg_bot.log
tests/__init__.py
tests/.pytest_cache
.pytest_cache
setup.cfg

# Tests
.coverage
htmlcov
